# Pandas data demo

In [1]:
# %load imports
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
import seaborn as sns
sns.set()

## Working with floats

### make a dataframe

In [2]:
df = pd.DataFrame([
    [.1, .2],
    [.30939293, .3923884745747],
])

### display the dataframe
By default, pandas only shows 6 digits of precision

In [3]:
df

          0         1
0  0.100000  0.200000
1  0.309393  0.392388

### The values retain their precision
The retain full precision

In [4]:
df.loc[1,1]

0.3923884745747

### Change the display precision

In [5]:
pd.set_option("display.precision", 14)
df

            0                1
0  0.10000000  0.2000000000000
1  0.30939293  0.3923884745747

### Floats work like you expect
.1 + .2 does equal .3

In [6]:
df[2] = df[0] + df[1]
df

            0                1                2
0  0.10000000  0.2000000000000  0.3000000000000
1  0.30939293  0.3923884745747  0.7017814045747

In [7]:
df.loc[1,2]

0.7017814045747

### Data types for each column

In [8]:
df.dtypes

0    float64
1    float64
2    float64
dtype: object

## Working with nanoseconds
The pandas.Timestamp class supports nanoseconds. It is interchangeable, in general, with normal Python datetime.datetime.

In [9]:
event1 = pd.Timestamp(2023, 10, 19, 10, 52, 23, 454, nanosecond=355)
print(event1.nanosecond)

355

In [15]:
pd.Timestamp?

Init signature:
pd.Timestamp(
    ts_input=<object object at 0x111b03460>,
    year=None,
    month=None,
    day=None,
    hour=None,
    minute=None,
    second=None,
    microsecond=None,
    tzinfo=None,
    *,
    nanosecond=None,
    tz=None,
    unit=None,
    fold=None,
)
Docstring:
Pandas replacement for python datetime.datetime object.

Timestamp is the pandas equivalent of python's Datetime
and is interchangeable with it in most cases. It's the type used
for the entries that make up a DatetimeIndex, and other timeseries
oriented data structures in pandas.

Parameters
----------
ts_input : datetime-like, str, int, float
    Value to be converted to Timestamp.
year, month, day : int
hour, minute, second, microsecond : int, optional, default 0
tzinfo : datetime.tzinfo, optional, default None
nanosecond : int, optional, default 0
tz : str, pytz.timezone, dateutil.tz.tzfile or None
    Time zone for time which Timestamp will have.
unit : str
    Unit used for conversion if ts_input is of type int or float. The
    valid values are 'D', 'h', 'm', 's', 'ms', 'us', and 'ns'. For
    example, 's' means seconds and 'ms' means milliseconds.

    For float inputs, the result will be stored in nanoseconds, and
    the unit attribute will be set as ``'ns'``.
fold : {0, 1}, default None, keyword-only
    Due to daylight saving time, one wall clock time can occur twice
    when shifting from summer to winter time; fold describes whether the
    datetime-like corresponds  to the first (0) or the second time (1)
    the wall clock hits the ambiguous time.

    .. versionadded:: 1.1.0

Notes
-----
There are essentially three calling conventions for the constructor. The
primary form accepts four parameters. They can be passed by position or
keyword.

The other two forms mimic the parameters from ``datetime.datetime``. They
can be passed by either position or keyword, but not both mixed together.

Examples
--------
Using the primary calling convention:

This converts a datetime-like string

>>> pd.Timestamp('2017-01-01T12')
Timestamp('2017-01-01 12:00:00')

This converts a float representing a Unix epoch in units of seconds

>>> pd.Timestamp(1513393355.5, unit='s')
Timestamp('2017-12-16 03:02:35.500000')

This converts an int representing a Unix-epoch in units of seconds
and for a particular timezone

>>> pd.Timestamp(1513393355, unit='s', tz='US/Pacific')
Timestamp('2017-12-15 19:02:35-0800', tz='US/Pacific')

Using the other two forms that mimic the API for ``datetime.datetime``:

>>> pd.Timestamp(2017, 1, 1, 12)
Timestamp('2017-01-01 12:00:00')

>>> pd.Timestamp(year=2017, month=1, day=1, hour=12)
Timestamp('2017-01-01 12:00:00')
File:           ~/anaconda3/lib/python3.11/site-packages/pandas/_libs/tslibs/timestamps.cpython-311-darwin.so
Type:           type
Subclasses:

In [10]:
event1

Timestamp('2023-10-19 10:52:23.000454355')

In [11]:
event2 = pd.Timestamp(2023, 10, 19, 10, 52, 23, 454, nanosecond=752)
event2

Timestamp('2023-10-19 10:52:23.000454752')

In [12]:
diff = event2 - event1
diff

Timedelta('0 days 00:00:00.000000397')

In [14]:
diff.nanoseconds

397