# Pandas data demo

In [2]:
# %load imports
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
import seaborn as sns
sns.set()

## Working with floats

### make a dataframe

In [7]:
df = pd.DataFrame([
    [.1, .2],
    [.30939293, .3923884745747],
])

### display the dataframe
By default, pandas only shows 6 digits of precision

In [4]:
df

          0         1
0  0.100000  0.200000
1  0.309393  0.392388

### The values retain their precision
The retain full precision

In [18]:
df.loc[1,1]

0.3923884745747

### Change the display precision

In [6]:
pd.set_option("display.precision", 14)
df

            0                1
0  0.10000000  0.2000000000000
1  0.30939293  0.3923884745747

### Floats work like you expect
.1 + .2 does equal .3

In [13]:
df[2] = df[0] + df[1]
df

          0         1         2
0  0.100000  0.200000  0.300000
1  0.309393  0.392388  0.701781

In [19]:
df.loc[1,2]

0.7017814045747

### Data types for each column

In [17]:
df.dtypes

0    float64
1    float64
2    float64
dtype: object

## Working with nanoseconds
The pandas.Timestamp class supports nanoseconds. It is interchangeable, in general, with normal Python datetime.datetime.

In [17]:
event1 = pd.Timestamp(2023, 10, 19, 10, 52, 23, 454, nanosecond=355)
print(event1.nanosecond)

355

In [18]:
event1

Timestamp('2023-10-19 10:52:23.000454355')

In [19]:
event2 = pd.Timestamp(2023, 10, 19, 10, 52, 23, 454, nanosecond=752)
event2

Timestamp('2023-10-19 10:52:23.000454752')

In [26]:
diff = event2 - event1
diff

Timedelta('0 days 00:00:00.000000397')

In [27]:
diff.nanoseconds

397